
{% extends '_base.html' %}

{% block content %}
<br/>
    <div class="form_max_width form_center w3-card-4 w3-padding">
        <form action="" method="POST" >
            <p>
                Username
            </p>
    
            <input class="w3-input" type="text" name="username" >
            <br/>
            <p>
                Password
            </p>    

            
            <input class="w3-input" type="password" name="password" >
            <br/>

            <input type="submit" class="w3-input w3-button w3-blue w3-hover-shadow w3-hover-blue">
            <br/>
        </form>
    </div>
{% endblock %}